<section class="th-bg-light th-padding-lg">
  <div class="container">
    <div id="etsy-product" class="row">
      <div class="col-sm-8">
        <div id="product-images" class="owl-carousel owl-theme">
        </div>
      </div> 
      <div class="col-sm-4">
        <h4 id="product-title"></h4>
        <p id="product-listing-id"></p>
        <p><span id="product-currency-code"></span> <span id="product-price"></span></p>
        <a id="product-link" href="" class="btn btn-primary" target="_blank">Add to cart</a>
        <p id="product-description"></p>
      </div>   
    </div>
    <div class="row">
      <div class="col-sm-12 th-padding-lg">
        <div class="th-shop-sections">
          <ul id="etsy-sections" class="list-unstyled list-inline text-center"></ul>
        </div>
      </div>
    </div>
    <div id="row-etsy-images" class="row">
      <div id="etsy-images"></div>
    </div>
  </div>
</section>
<section class="th-section-about th-bg-lighter th-padding-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag("img_design.jpg") %>
        <%= get_text_element(resource, "design") %>
      </div>
      <div class="col-sm-4">
        <%= image_tag("img_materials.jpg") %>
        <%= get_text_element(resource, "materials") %>
      </div>
      <div class="col-sm-4">
        <%= image_tag("img_history.jpg") %>
        <%= get_text_element(resource, "history") %>
      </div>
    </div>
  </div>
</section>